# Copy this file to .env and fill in the appropriate values. Refer to README.md
# for instructions on where to find them.
DJANGO_SECRET_KEY=
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_DB_KEYSPACE=sag_python_todos
